@CHARSET "UTF-8";
/*
标题样式
*/
* {
	margin: 0px;
	padding: 0px;
}

header {
	padding: 2em 0em 1em 0em;
	background-color: #CCFFFF;
}

.title {
	font-family: 黑体;
	line-height: 50px;
	font-size: 1.8em;
	float: left;
	margin-left: 0.8em;
}

.shopKeeperInfo_messages {
	font-family: 黑体;
	line-height: 50px;
	float: right;
}

.shopKeeperInfo{
	font-family: 黑体;
	line-height: 50px;
	float: right;
	padding: 0px 10px;
	background-color: maroon;
}

.message {
	color: white;
	font-family: 黑体;
	line-height: 50px;
	float: right;
	padding: 0px 10px;
	background-color: maroon;
}

.alerm {
	color: white;
	font-family: 黑体;
	line-height: 50px;
	float: right;
	padding: 0px 10px;
	background-color: maroon;
}

/*
体部样式
*/
.context {
	
}
/*
菜单样式
*/
.menu {
	width: 15%;
	float: left;
	min-height: 570px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;	/*文字下划线 */
}

.menu_class_1 {
	height: 6em;
	padding: 1em;
	background-color: #DDD;
	line-height: 4em;
	cursor: pointer;	/*使鼠标变成小手 */
	border: 1px solid #bbb;
}

.menu_class_2 {
	height: 3.5em;
	padding: 1em;
	line-height: 1.5em;
	background-color:#FAFAFA;
	cursor: pointer;	/*使鼠标变成小手 */
	border: 1px solid #DDD;
}

/*
右边页面
*/
.right {
	width: 85%;
	min-height: 570px;
	float: left;
	background-color: #FFFFCC;
}

.right_title {
	padding: 10px;
}

.navs {
	padding: 10px;
}

/*
页底样式
*/
footer {
	padding: 2em;
}

.pageButtom {
	font-size: 15px;
	color: #666;
}